extends layout

block content
  h1.mt-5 Menu 
  a.my-4.btn.btn-success(href='/menuItems/create') Create
  ul
    each menuItem in menuItems
      li
        a(href=`/menuItems/${menuItem.id}`)= menuItem.name
    else
      li There are no values
