extends layout

block head
  title= 'RM - Create'

block content
  h1= "Add a Restaurant"
  form(method='post')
    .mb-3
      label.form-label(for='name') Name: 
      input.form-control(type='text' name='name')
    .mb-3
      label.form-label(for='address') Address: 
      input.form-control(type='text' name='address')
    .mb-3
      label.form-label(for='phone') Phone: 
      input.form-control(type='text' name='phone')
    button.btn.btn-primary(type='submit') Submit
